#menu {
    display: none;
    position: absolute;
    list-style: none;
    background: #dadada;
    width: 100vw;
    top: 0;
    right: 0;
    height: 100vh;
    margin-top: 0px;
    width: 30vw;
    padding: 1em;
    z-index: 1003;
}

#menu img {
    width: 40px;
    margin-top: 6vh;
    cursor: pointer;
}

#home {
    background: url(../imgs/bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    padding: 1vw;
    box-sizing: border-box;
}

#home-b {
    background: url(../imgs/bg-b.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 1vw;
    box-sizing: border-box;
}

#back-frame {
    position: absolute;
    opacity: 0.6;
    right: 0;
}

#banner {
    align-items: center;
    justify-content: space-around;
    background: #00000096;
    width: 94vw;
    height: 30vh;
}

#banner div:nth-child(1) {
    display: flex;
    align-items: center;
}

#banner img {
    border-radius: 50%;
}

#side-text {
    color: white;
    position: absolute;
    top: 36%;
    transform: rotate(-90deg);
    left: -2.6vw;
    font-size: 16px;
    margin: 0px;
}