html,
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 13vw;
}

h2 {
    font-weight: 200;
    font-size: 16pt;
}

h3,
h2 {
    margin-top: 0px;
    color: white;
}

h3 {
    margin-bottom: 0px;
    font-size: 12pt;
}

hr {
    color: #ececec;
    width: 30vw;
    margin: 0;
    border: 1px solid #565656;
}

li {
    font-size: 2em;
    line-height: 8vh;
    font-weight: 400;
    letter-spacing: 7px;
    color: #757575;
    height: 7vh;
}

ul li:nth-child(2) {
    margin-bottom: 5vh;
}

input[type="search"] {
    font-family: 'Poppins', sans-serif;
    width: 30vw;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid grey;
    letter-spacing: 5px;
    background: transparent;
}

p {
    font-size: 1.4em;
}

nav {
    width: calc(100% - 2em);
    height: 11vh;
    justify-content: space-between;
    cursor: pointer;
    width: 100vw;
    z-index: 1002;
}

nav div:nth-child(1) {
    width: 53px;
    height: 50px;
    position: fixed;
    right: 1.2vw;
    background-image: url(../imgs/menu.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav div:nth-child(2) {
    width: 100px;
    height: 100px;
    background: url(../imgs/logo.png);
    background-position: center;
    background-size: cover;
}

.about-text {
    position: relative;
    padding: 1em;
    height: 20vh;
    overflow: scroll;
    color: #fde301;
    height: 63vh;
    z-index: 1002;
    font-size: 4em;
    font-weight: 500;
}

.containerA {
    align-items: center;
    justify-content: center;
}

.sizeA {
    height: 42vh;
}

.sizeA img {
    width: 86vw;
}

.sizeB {
    width: calc(100% - 2em);
    height: 40vh;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
}

.sizeB div:nth-child(1) {}

.sizeB div:nth-child(2) {
    margin-left: 2vw;
    width: 48vw;
}

.sizeC {
    height: fit-content;
}

.sizeC div {
    width: 100%;
}

.sizeC div:nth-child(1) {
    align-items: center;
}

.center {
    margin-left: 20%;
}

.logo-click {
    width: 88px;
    height: 90px;
    background: url(../imgs/logo.png);
    background-size: cover;
}

.page-name {
    font-size: 1.8em;
    color: white;
}

.banner-btn {
    color: white;
    border: none;
    font-size: 14pt;
    border-bottom: 1px solid white;
    background: transparent;
}

.insta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 43vh;
}

.insta img {
    width: 54px;
}

.insta p {
    color: white;
    font-size: 10pt;
}

.accordion img:nth-child(1) {
    width: 84px;
}

@media screen and (min-width: 768px) {
    h1 {
        margin: 0px;
    }
}